html {
    font-family: sans-serif;
}

body {
    margin: 50px;
    background-color: #1f2937;
}

header {
    background: #1f2937;
    font-size: 24px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.placeholders {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    margin-right: 20px;
} 

.placeholders > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
h1 {
    text-align: center;
    color: white;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 18px;
    font: #f9faf8;
    line-height: 100px;
    
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    flex: 1;
    width: 300px;

}

article {
    padding: 10px;
    background: #1f2937;
    
}

.imageplaceholder {
    background-color: grey;
    border: grey;
    border-style: solid;
    height: 150px;
    display: flex;
    text-align: center;
    flex-direction: row;
    margin-top: 25px;
    width: 500px;
}

.images{
    display: flex;
    flex-direction: row;
    background-color:#e5e7eb;
    justify-content: space-evenly;
    height: auto;
    
}

.images > p {
    text-align: center;
    margin: 20px;
    
    
}

.midsection {
    background-color: white;
}

.boxes {
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-evenly;
    

}

h4 {
    text-align: center;
    color:#1f2937;
    font-size: 28px;
}

.boxes > div {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    background-color: #e5e7eb;
    width: 150px;
    text-align: center;
    flex-wrap: nowrap;
}

.testimonial {
    display: flex;
    margin-top: 50px;
    background-color: #f9faf8 ;
    justify-content: center;
    
}

.testimonial > em {
    text-align: center;
}



section {
    display: flex; 
    background: #1f2937;
    color:#e5e7eb;
    justify-content: space-between;
}


.signupbutton {
    display: flex;
    flex-direction: row;
}

.signupbutton button {
    background-color: #3882f6;
    border-radius: 10px;
    border-color: #3882f6;
    height: 40px;
    color: #e5e7eb;
    font-weight: bold;
    width: 80px;
}

